
@model WorkforceManagement.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComputerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComputerId)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingPrograms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingPrograms)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@*AUTHOR: Aaron Miller 
PURPOSE: Details View for Employees*@
